@import "tailwindcss";

/* ================= THEME ================= */

@theme {

    /* ========= FONTS ========= */
    --font-sans: "DM Sans", sans-serif;
    --font-heading: "PP Hatton", sans-serif;


    /* ================= PRIMARY ================= */
    --color-primary-1: #E3E6E9;
    --color-primary-2: #ADB5BF;
    --color-primary-3: #7A8696;
    --color-primary-4: #4A5A6F;
    --color-primary-5: #1F3049;
    --color-primary-6: #199AD5;
    --color-primary-7: #07182E;
    --color-primary-8: #030E1E;
    --color-primary-9: #01050F;
    --color-primary-10: #000103;


    /* ================= SECONDARY ================= */
    --color-secondary-1: #FBF7ED;
    --color-secondary-2: #F2E7C9;
    --color-secondary-3: #E9D8A4;
    --color-secondary-4: #E1C87E;
    --color-secondary-5: #D8B753;
    --color-secondary-6: #AE7C4D;
    --color-secondary-7: #B8982E;
    --color-secondary-8: #836B1E;
    --color-secondary-9: #874D00;
    --color-secondary-10: #241C03;


    /* ================= NEUTRAL ================= */
    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #FAFBFC;
    --color-neutral-20: #F4F5F7;
    --color-neutral-30: #EBECF0;
    --color-neutral-40: #DFE1E6;
    --color-neutral-50: #C1C7D0;
    --color-neutral-60: #B3BAC5;
    --color-neutral-70: #A5ADBA;
    --color-neutral-80: #97A0AF;
    --color-neutral-90: #8993A4;
    --color-neutral-100: #7A869A;
    --color-neutral-200: #6B778C;
    --color-neutral-300: #5E6C84;
    --color-neutral-400: #505F79;
    --color-neutral-500: #42526E;
    --color-neutral-600: #344563;
    --color-neutral-700: #253858;
    --color-neutral-800: #172B4D;
    --color-neutral-900: #091E42;
    --color-neutral-black: #00091A;
    --text-title-6: 22.78px;
    --text-caption: 12.64px;
    --text-footnote: 11.24px;
    --text-small: 14.22px;
    --text-title-medium: 20.25px;
    --breakpoint-2xl:1440px ;
}


/* ================= TYPOGRAPHY ================= */

@layer utilities {

    /* HEADINGS */
    .font-h1 { @apply font-heading text-4xl font-bold leading-relaxed; }
    .font-h2 { @apply font-heading text-4xl font-medium leading-relaxed; }
    .font-h3 { @apply font-heading text-3xl font-medium leading-relaxed; }
    .font-h4 { @apply font-heading text-3xl font-bold leading-loose; }
    .font-h5 { @apply font-heading text-2xl font-medium leading-10; }
    .font-h6 { @apply font-heading text-2xl font-bold leading-10; }
    .font-h7 { @apply font-heading text-xl font-medium leading-9; }

    /* BODY */
    .font-title { @apply font-sans text-xl font-bold leading-9; }
    .font-subtitle { @apply font-sans text-lg font-medium leading-8; }
    .font-body { @apply font-sans text-base font-medium leading-8; }
    .font-body-light { @apply font-sans text-base font-extralight leading-8; }

    .font-small { @apply font-sans text-sm font-medium leading-7; }
    .font-caption { @apply font-sans text-xs font-medium leading-5; }
    .font-footnote { @apply font-sans text-xs font-medium leading-5; }

}
